<body data-ng-controller='BlogDetailController'>
<div class="container" align="justify">
		<div class="row vertical-offset-100">
		    <div class="col-md-6 col-md-offset-14">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center">Approval form</h3>
				 	</div><br>

<center>
<div>{{blogPost.title}}</div>
<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span><br>
<span><strong>Created On:</strong>{{blogPost.createdOn | date:'medium'}}</span>
<div class="panel-body">
{{blogPost.body}}
</div>
</center>



<div class="form-group" align="center">
<input type="radio" ng-model="blogPost.approved" value="true">&nbsp <b>Approve</b><br><br>
<input type="radio" ng-model="blogPost.approved" value="false">&nbsp <b>Reject</b><br><br>
</div><br>
<center>
<button ng-click="updateApproval()" value="update Status">Update</button>
</center><br>
</div></div></div>
</div>
</body>


<style>
 body {
        background-color: #444;
        background: url("https://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg");
        
    }
.vertical-offset-100{
    padding-top:10px;
}
</style>
