<style>
 body 
 	{
        background-color: #444;
        background: url(https://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg);
    }
.vertical-offset-100{
    padding-top:10px;
}
</style>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>
<div class="container" align="justify">
		<div class="row vertical-offset-100">
		    <div class="col-md-8 col-md-offset-14">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>List Of Blogs</i></h3>
				 	</div>

<div class="table-responsive" ng-show="currentUser.role=='Admin'">
List of Blog Posts waiting for approval
<table class="table">
<tr><th>Recent Posts</th></tr>
<tr ng-repeat="blogPost in blogsWaitingForApproval | orderBy: 'time':true">

<td><a href="#getBlogForApproval/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By: {{blogPost.createdBy.username}}</td>
<td>Created on: {{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>
</table>
</div>

<div class="table-responsive">
List of Blog Posts
<table class="table">
<tr><th>Recent Posts</th></tr>
<tr ng-repeat="blogPost in blogsApproved |orderBy:time:true">
<td><a href="#getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By: {{blogPost.createdBy.username}}</td>
<td>Created on: {{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>
</body>
</html>