
<span>{{message}}</span>
<form>

Enter Job Title:<input type="text" ng-model="job.jobTitle"><br>
Enter Job Description:<textarea ng-model="job.jobDescription"></textarea><br>
Enter Year Of Experience:<input type="text" ng-model="job.yrsOfExp"><br>
Enter Salary:<input type="text" ng-model="job.salary"><br>
Enter Skills Required:<input type="text" ng-model="job.skillsRequired"><br>
Enter Location:<input type="text" ng-model="job.location"><br>
Enter Company Name:<input type="text" ng-model="job.companyName"><br>

<input type="submit" value="saveJob" ng-click="saveJob()">

</form>
