<div>
Search <input ng-model="jobTitle">
<table class="table">
<thead>
<tr>
<th>Job Title</th><th>Posted on</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs | filter:jobTitle">
<td><a href="" ng-click="getJobDetail(job.id)"></a>{{job.jobTitle}}</td><td>{{job.postedOn | date:'yyyy:MM;dd'}}</td>
</tr>
</tbody>
</table>
<div ng-show="showdetails">
<b>Job Details</b>
<b>Job title : </b>{{job.jobTitle}}<br>
<b>Job Description :</b> {{job.jobDescription}}<br>
<b>Skills Required :</b> {{job.skillsRequired}}<br>
<b>Years of Experience :</b> {{job.YrsOfExp}}<br>
<b>Location :</b> {{job.location}}<br>
<b>Salary :</b> {{job.salary}}<br>
<b>company Name :</b> {{job.companyName}}<br>
</div>
</div>