<!DOCTYPE html>

<style>
 body 
 	{
        background-color: #444;
        background: url(https://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg );
    }
.vertical-offset-100{
    padding-top:10px;
}
</style>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>
<div class="container" align="justify">
		<div class="row vertical-offset-100">
		    <div class="col-md-6 col-md-offset-14">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>Please Register</i></h3>
				 	</div>
					<fieldset><br>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Firstname</i></label><input type="text" ng-model="user.firstname"><br>
						</div>	
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Lastname</i></label><input type="text" ng-model="user.lastname"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Email</i></label><input type="text" ng-model="user.email"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Username</i></label><input type="text" ng-model="user.username"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Password</i></label><input type="password" ng-model="user.password"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Select Role</i></label><input type="radio" ng-model="user.role" value="Student">Student
							<input type="radio" ng-model="user.role" value="Alumini">Alumini
							<input type="radio" ng-model="user.role" value="Employee">Employee
						</div>
						<div class="form-group" align="center"><input type="submit" value="Register" ng-click="register()"><br></div><br>
					</fieldset>
				</div>
			</div>
		</div>