<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>
<div class="container" align="center">
		<div class="row vertical-offset-100">
		    <div class="col-md-8 col-md-offset-14">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>List of Suggested Users</i></h3>
				 	</div>


<table class="table table-striped">
<thead>
<tr>
<th>Firstname</th><th>Lastname</th><th>Role</th><th>Online</th><th>Friend Request</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="user in suggestedUsers">
<td>{{user.firstname}}</td><td>{{user.lastname}}</td><td>{{user.role}}</td>
<td ng-if="user.online">Yes</td>
<td ng-if="!user.online">No</td>

<td><a href="" ng-click="friendrequest(user.username)" class="btn btn-default">Send Friend Request</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</body>

<style>
 body {
        background-color: #444;
        background: url("https://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg");
        
    }
.vertical-offset-100{
    padding-top:10px;
}
</style>
</html>